[package]
name = "acp-script"
version = "0.3.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.12.2"
reqwest = "0.12.23"
tokio = { version = "1.47.1", features = ["full"] }
keyring = { version = "3.6.3", features = [
    "apple-native",
    "sync-secret-service",
] }
dirs = "6.0.0"
thiserror = "2.0.16"
notify-rust = "4.11.7"
log = "0.4.28"
env_logger = "0.11.8"
console = "0.16.1"
netwatcher = "0.4.0"
[target.x86_64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.73", features = ["vendored"] }

[target.aarch64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.73", features = ["vendored"] }
